:root{
    --primary-color: #23a6f0;
}
body{
    font-family: "Roboto", system-ui;
    background-color: #252b42;
 

}
.navbar .navbar-brand{
    margin-right: 65px;
}
.navbar ul{
    color: white;
    font-size: 14px;
}
.navbar ul li a,
.navbar ul li a.ctive{
    color: white;
}

.navbar ul li a:focus,
.navbar ul li a:hover{
    color: var(--primary-color);
}
.navbar ul li .active{
    color: var(--primary-color);
}
.navbar .login{
    font-size: 13px;
    margin-right: 30px;
    color: white;
    font-family: Copperplate Gothic Bold, Copperplate Gothic Light, Copperplate, Balthazar;

}
.navbar .jouin{
    font-family: Copperplate Gothic Bold, Copperplate Gothic Light, Copperplate, Balthazar;
    background-color: var(--primary-color);
    font-size: 12px;
    padding: 13px 20px;
}
.navbar .navbar-toggler svg{
    color: white;
}
.navbar .navbar-toggler{
    border-color: white;
    box-shadow: none;
}

.navbar .navbar-toggler[ aria-expanded="true"]{
    box-shadow: none;
    border-color: #23a6f0;

}
.welcome{
    margin-top: 90px;
}
.welcome h6{
    color: #23a6f0;
    font-size: 14px;
}
.box{
    margin-top: -12px;
}
.box h1{
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 25px;
}
.box .get{
    color: white;
    background-color: #23a6f0;
    padding: 10px 35px;
}
.box .more{
    padding: 10px 32px;
    color: #23a6f0;
    border: 1px solid #23a6f0;
}
.box .buttons{
    margin-top: 30px;
    margin-bottom: 60px;
}
.box .more:hover{
    color: white;
    background-color: #23a6f0;
}
.box .get:hover{
    color: #23a6f0;
    background-color: transparent;
    border: 1px solid #23a6f0;
}
.box1{
    background-color: white;
    padding: 35px;
    height: 301px;
    width: 277px;

}
.box1 .emotion{
    padding-bottom: 25px;
    width: 81px;
    background-color: #ffdcd1;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
}
.box1 .emotion svg{
    color: #e74040;
    font-size: 25px;
    position: absolute;
    top: 23px;
    right: 27px;
    border-radius: 50%;
}
.box1 .emotion2{
    padding-bottom: 25px;
    width: 81px;
    background-color: #b9eaa8;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
}
.box1 .emotion2 svg{
    color: #2dc071;
    font-size: 25px;
    position: absolute;
    top: 23px;
    right: 27px;
    border-radius: 50%;
}
.box1 .emotion3{
    padding-bottom: 25px;
    width: 81px;
    background-color: #ffffff;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
}
.box1 .emotion3 svg{
    color: #23a6f0;
    font-size: 25px;
    position: absolute;
    top: 23px;
    right: 27px;
    border-radius: 50%;
}

.box1 .box2 {
    position: relative;
    margin-bottom: 33px;

}
.box1 .box2 h5::before{
    content: '';
    position: absolute;
    width: 57px;
    height: 2px;
    background-color: red;
    bottom: -19px;
}
.boxx{
    background-color: #23a6f0;
    padding: 35px;
    height: 301px;
    width: 277px;

}
.boxx .emotion3{
    padding-bottom: 25px;
    width: 81px;
    background-color: #ffffff;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10%;
}
.boxx .emotion3 svg{
    color: #23a6f0;
    font-size: 25px;
    position: absolute;
    top: 23px;
    right: 27px;
    border-radius: 50%;
}
.boxx .box2 {
    position: relative;
    margin-bottom: 33px;

}
.boxx .box2 h5::before{
    content: '';
    position: absolute;
    width: 57px;
    height: 2px;
    background-color: #ffffff;
    bottom: -19px;
}

.con{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row .row-card{
    justify-content: space-evenly;
}